.canvas {
  width: 100svw;
  height: 100svh;
}

#three-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

::selection {
  background: #fff8bb;
  color: #202020; /* important so text stays readable */
}
